.modal-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.menu {
  background: #323232;
  width: 717px;
  height: 460px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  overflow: hidden;
}
.template{
  background: #323232;
  display: flex;
  flex-direction: column;
  width: 250px;
}
.search{
  background: #323232;
  height: 19.5%;
  display: flex;
  flex-direction: column;
}
.head{
  background: #323232;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 15px;
  color: white;
  font-size: 20px;
  font-family: IBM Plex Sans Devanagari, Arial, sans-serif;
  font-weight: 400;
  word-wrap: break-word
}
.searchbox{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #323232;
  width: 100%;
  flex: 1;
}
.searchbox input{
  background: #212121;
  color: #bcbcbc;
  width: 90%;
  height: 100%;
  font-family: "IBM Plex Sans Devanagari", Arial, sans-serif;
  font-size: 16px;
  border-radius: 3px;
  resize: none;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
  padding: 8px;
  vertical-align: middle;
  max-height: 30px;
  line-height: 10px;
  overflow-x: hidden;
  white-space: nowrap;
  box-shadow: none; 
}
.list {
  margin-top: 5%;
  flex: 1;
  background-color: #323232;
  overflow-y: scroll;
}
.list::-webkit-scrollbar {
  width: 0em;
}
.child {
  background:#323232;
  height: 30px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
}
.child .image {
  background: #323232;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child .image img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}
.child .text {
  flex: 1;
  height: 100%;
  color: #988585;
  font-size: 15px;
  font-family: 'IBM Plex Sans Devanagari', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  text-align: left;
}
.child :hover {
  background: #646060;
}
.child:hover .image{
  background: #646060;
}
.child:hover .text{
  background: #646060;
  color: #fff;
}
.general{
  background: #212121;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.new{
 background: #212121; 
 height: 90px;
 display: flex;
 flex-direction: column;
}
.createproject{
  background: #212121;
  color: #14FFEC;
  height: 40%;
  text-align: left;
  margin-top: 12px;
  margin-left: 15px;
  font-family: "IBM Plex Sans Devanagari", Arial, sans-serif;
  font-size: 28px;
  font-weight: 700;
}
.name {
  background: #212121;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name textarea {
  background: #323232;
  color: #bcbcbc;
  width: 93%;
  height: 100%;
  font-family: "IBM Plex Sans Devanagari", Arial, sans-serif;
  font-size: 16px;
  border-radius: 3px;
  resize: none;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
  padding: 8px;
  vertical-align: middle;
  max-height: 30px;
  line-height: 10px;
  overflow-x: hidden;
  white-space: nowrap;
}
.setting{
  background: #212121;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.slection {
  background: #212121;
  height: 8%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 1%;
  margin-left: 4%;
  color: white;
  font-size: 15px;
  font-family: IBM Plex Sans Devanagari, Arial, sans-serif;
  font-weight: 300;
  word-wrap: break-word
}
.selectedtemplates {
  background: #212121;
  height: 7%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
}
.space{
  background: #212121;
  height: 100%;
  width: 4%;
}
.choise-container {
  background-color: #212121;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 10px;

}
.choise1 img,
.choise2 img,
.choise3 img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.blank {
  height: 100%;
  flex: 1;
}

.visiblitytoggle {
  background: #212121;
  height: 15%;
  display: flex;
  flex-direction: row;
}
.visiblitytoggle .Private,
.visiblitytoggle .Public,
.visiblitytoggle .Custom {
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  border: 1.8px #0D7377 solid;
}

.Private {
  flex: 1;
  margin-left: 4%;
  margin-right: 2%;
}
.Private img {
  margin-right: 4%;
}
.Public {
  margin-left: 1%;
  margin-right: 1%;
  flex: 1;
}
.Public img {
  margin-right: 4%;
}
.Custom {
  margin-left: 2%;
  margin-right: 4%;
  flex: 1;
}
.Custom img {
  margin-right: 4%;
}
.Pricon,
.Pubcon,
.Cuscon {
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 12px;
}
.visiblitytoggle .Private:hover,
.visiblitytoggle .Public:hover,
.visiblitytoggle .Custom:hover {
  background: #343434;
  border-color: #06DDCC;
}
.visiblitytoggle .changed-color:hover {
  background: none !important;
  cursor: default;
}

.extras{
  background:#212121;
  flex: 1;
}
.aditionalsettings{
  background: #212121;
  height: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.aditionalsettings button {
  background: none;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 14px;
  margin-right: 2%;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.aditionalsettings button:hover {
  text-decoration: underline;
}
.action{
  background: #212121;
  height: 45px;
  display: flex;
  padding: 2%;
  flex-direction: row;
}
.createbutton,
.import{
  background: #0D7377;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 7px;
  transition: background-color 0.3s, color 0.3s;
}
.createbutton{
  margin-right: 1%;
  flex: 2;
  font: 400 20px IBM Plex Sans Devanagari, -apple-system, Roboto, Helvetica, sans-serif;
}
.import{
  margin-left: 1%;
  flex: auto;
  font: 400 20px IBM Plex Sans Devanagari, -apple-system, Roboto, Helvetica, sans-serif;

}
.createbutton:hover,
.import:hover {
  background: #06DDCC!important;
  color: #0D7377!important;
}
