body {
    background-color: #212121; /* Set background color */
    margin: 0;
}

.container {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    position: absolute; /* Position the container */
    top: 50%; /* Move container to the vertical center */
    left: 50%; /* Move container to the horizontal center */
    transform: translate(-50%, -50%); /* Center the container precisely */
    width: 100%; /* Spread container to the maximum width */
    max-width: 80%; /* Limit container width to 80% of the viewport width */
}


h1, #quote-text {
    font-family: 'IBM Plex Sans Devanagari', sans-serif; /* Set font */
    font-weight: 600; /* Set font weight */
    text-align: center; /* Center align text */
    max-width: 80%; /* Limit text width */
}

h1 {
    color: #14FFEC; /* Set text color */
    font-size: 40px; /* Set the font size for the heading */
    margin-bottom: 20px; /* Add margin to the bottom of the heading */
}

#quote-text {
    color: #ffffff; /* Set text color */
    font-size: 14px; /* Set the font size */
}

.progress-container {
    width: 985px;
    height: 17px;
    background: #343434;
    border-radius: 42px;
    overflow: hidden; /* Ensure the progress bar does not overflow */
}

.progress-bar {
    height: 100%;
    background-color: #14FFEC;
    width: 0;
    transition: width 8s linear;
}